%tr{:class=>cycle("odd","even")}
  %td.activity_name=activity.name
  %td= rand(10) > 5 ? "SI" : "NO"
  %td= rand(10)
  %td=rand(10)
  %td=rand(10)
  %td=rand(10)
  %td=rand(10)
  %td=rand(10)
  %td=rand(10)